# List

In [ ]:
# 10 Students Name

In [3]:
name = input("Enter Your Name : ")

Enter Your Name : Ashraf

In [4]:
name

'Ashraf'

In [6]:
# list is the uer define Data Type
# One Dimentional List Called Array and array contain single Data Type
# List Called Hetrogenious Means List can Contains Multiple Data Types

names_list = ["Muhammad","Muneeb","Ashraf"]

In [1]:
name_list = ["Muneeb" , True , 27 , 3.142]

In [7]:
names_list

['Muhammad', 'Muneeb', 'Ashraf']

In [ ]:
# name apko input lena hai or usko save karty jana hai list mai

In [10]:
names_list = [] #Empty List
name = input("Enter Your Name : ")

# First Way To Add Name In List

# Add
names_list.append(name) # Append Add Data At The End Of The List

print(names_list)

Enter Your Name : Ashraf
['Ashraf']

In [9]:
names_list

['muneeb']

In [58]:
names_list = []

for i in range(1,11):
    name = input(f"Enter Student {i} Name : ")
    
    names_list.append(name)

Enter Student 1 Name : Muhammad
Enter Student 2 Name : Muneeb
Enter Student 3 Name : Ashraf
Enter Student 4 Name : Alhas
Enter Student 5 Name : Ibtehaj
Enter Student 6 Name : Mohsin
Enter Student 7 Name : Haris
Enter Student 8 Name : Ahmed
Enter Student 9 Name : Asad
Enter Student 10 Name : Waqas

In [59]:
print(names_list)

['Muhammad', 'Muneeb', 'Ashraf', 'Alhas', 'Ibtehaj', 'Mohsin', 'Haris', 'Ahmed', 'Asad', 'Waqas']

In [5]:
names_list_with_index = []

for i in range(1,11):
    name = input(f"Enter Student {i} Name : ")
    
    names_list_with_index[i] = name

Enter Student 2 Name : m

IndexError: list assignment index out of range

In [7]:
print(names_list_with_index)

[]

In [60]:
names_list[9] = "Aqsa"

In [61]:
names_list

['Muhammad',
 'Muneeb',
 'Ashraf',
 'Alhas',
 'Ibtehaj',
 'Mohsin',
 'Haris',
 'Ahmed',
 'Asad',
 'Aqsa']

In [62]:
second_names_list =["Muneeb2","Ashraf2","Alhas2" , "Asad2"]

In [63]:
second_names_list

['Muneeb2', 'Ashraf2', 'Alhas2', 'Asad2']

In [64]:
extraList = names_list

In [65]:
print(extraList)

['Muhammad', 'Muneeb', 'Ashraf', 'Alhas', 'Ibtehaj', 'Mohsin', 'Haris', 'Ahmed', 'Asad', 'Aqsa']

In [66]:
# Append Always Consider the Whole Value As a Single Value (single Values Added) 
extraList.append(second_names_list)

In [67]:
print (extraList)

['Muhammad', 'Muneeb', 'Ashraf', 'Alhas', 'Ibtehaj', 'Mohsin', 'Haris', 'Ahmed', 'Asad', 'Aqsa', ['Muneeb2', 'Ashraf2', 'Alhas2', 'Asad2']]

In [70]:
print(names_list)

['Muhammad', 'Muneeb', 'Ashraf', 'Alhas', 'Ibtehaj', 'Mohsin', 'Haris', 'Ahmed', 'Asad', 'Aqsa', ['Muneeb2', 'Ashraf2', 'Alhas2', 'Asad2']]

In [71]:
# Extend Consider the Whole Value As an Multiple Values and Add At The End Like Append (Multiple Values Added)
names_list.extend(second_names_list)

In [72]:
print(names_list)

['Muhammad', 'Muneeb', 'Ashraf', 'Alhas', 'Ibtehaj', 'Mohsin', 'Haris', 'Ahmed', 'Asad', 'Aqsa', ['Muneeb2', 'Ashraf2', 'Alhas2', 'Asad2'], 'Muneeb2', 'Ashraf2', 'Alhas2', 'Asad2']

In [74]:
int("10")

10

In [73]:
"Hello"

'Hello'

In [75]:
list("Hello")

['H', 'e', 'l', 'l', 'o']

In [76]:
# Strings Are Immutable

name = "hello"
name[3] = "r"

TypeError: 'str' object does not support item assignment

strings , Tuple are Immutable

can we Update Those?

In [ ]:
s = "hello"
s = "Hello"  # Reassignment creates a new string object

In [ ]:
t = (1, [2, 3], 4)
t[1][0] = 99  # Allowed because the list inside the tuple is mutable
print(t)  # (1, [99, 3], 4)

In [77]:
names_list[9]

'Aqsa'

In [78]:
names_list[:]

['Muhammad',
 'Muneeb',
 'Ashraf',
 'Alhas',
 'Ibtehaj',
 'Mohsin',
 'Haris',
 'Ahmed',
 'Asad',
 'Aqsa',
 ['Muneeb2', 'Ashraf2', 'Alhas2', 'Asad2'],
 'Muneeb2',
 'Ashraf2',
 'Alhas2',
 'Asad2']

In [80]:
names_list[10][2]

'Alhas2'

In [81]:
names_list[10][4]

IndexError: list index out of range