# Try Except

In [1]:
12/2

6.0

In [2]:
num_1 = int(input("Enter Your Number"))
num_2 = int(input("Enter Your Secon Number"))

num_1/num_2

Enter Your Number15
Enter Your Secon Number0

ZeroDivisionError: division by zero

In [8]:
try:
    num_1/num_2
    
except ZeroDivisionError:
    print("Zero Division cannot be possible")
    print("Please provide a valid value in second place")
    

    
num_1 = int(input("Enter Your Number"))
num_2 = int(input("Enter Your Secon Number"))

Zero Division cannot be possible
Please provide a valid value in second place
Enter Your Number15
Enter Your Secon Number0

In [9]:
try:
    num_1/num_2
    
except Exception as error:
    print(error)

division by zero

In [14]:
try:
    age = int(input("Enter Your Age : "))
except Exception as e:
    print(e)

Enter Your Age : muneeb
invalid literal for int() with base 10: 'muneeb'

In [17]:
try:
    age = int(input("Enter Your Age : "))
    print(f"your {age} Years old")
except Exception as e:
    print(e)

Enter Your Age : muneeb
invalid literal for int() with base 10: 'muneeb'

In [18]:
try:
    age = int(input("Enter Your Age : "))
    print(f"your {age} Years old")
except Exception as e:
    print(e)

Enter Your Age : 27
your 27 Years old

In [27]:
names = []

for i in range (0,5):
    name = input(f"Enter {i} your name : ")
    if name.isalpha():
        names.append(name)

Enter 0 your name : 25
Enter 1 your name : mkxc

NameError: name 'names' is not defined

In [ ]:
# we use only these 3 keywords in loop
# break
# continue
# pass

In [ ]:
names = []

for i in range (0,5):
    name = input(f"Enter {i} your name")
    if name.isalpha():
        names.append(name)
    else

In [33]:
names = []

for i in range (0,5):
    name = input(f"Enter {i} your name : ")
    if name.isalpha():
        names.append(name)

Enter 0 your name : m
Enter 1 your name : 25
Enter 2 your name : xc5
Enter 3 your name : m
Enter 4 your name : 55l

In [ ]:
names = []

for i in range (0,5):
    try:
        name = input(f"Enter {i} your name : ")
        if name.isalpha():
            names.append(name)
        
            print("")

In [42]:
# LAMDA

lambda x : x

In [44]:
lambda x : x**2

In [45]:
def square(x):
    return x**2

In [48]:
square = lambda x : x**2

square(2)

4

In [49]:
add = lambda x,y : x+y


gr = lambda a,b : a if a>b else b

In [50]:
gr(6,40)

40

In [51]:
name_age = ["Muneeb_20","saif_30","Moiz_34"]

In [55]:
name_age = ["aqsa_16" , "saif_30" , "moiz_34"]
for i in range(len(name_age)):
               name, age = name_age[i].split("_")
               print(name + " is " + age + " years old")

aqsa is 16 years old
saif is 30 years old
moiz is 34 years old

In [56]:
name_age = ["aqsa_16", "saif_30", "moiz_34"]
names = []
ages = []
for item in name_age:
    name, age = item.split("_")  
    names.append(name)
    ages.append(age)
print("Names:", names,"Ages:", ages)

Names: ['aqsa', 'saif', 'moiz'] Ages: ['16', '30', '34']

In [57]:
name_age = ["aqsa_16" , "saif_30" , "moiz_34"]

split_data = [item.split("_") for item in name_age]

In [58]:
split_data

[['aqsa', '16'], ['saif', '30'], ['moiz', '34']]

In [ ]:
name_age = ["aqsa_16" , "saif_30" , "moiz_34"]
for i in range(len(name_age)):
  name = name_age[i].split("_")[0]
  age = name_age[i].split("_")[1]
  print(name)
  print(age)

In [59]:
lambda x : x.split("_")[0],x.split("_"[1])

NameError: name 'x' is not defined

In [60]:
lambda x : (x.split("_")[0],x.split("_"[1]))

In [61]:
split_func = lambda x : (x.split("_")[0] , x.split("_")[1])

In [62]:
split_func

In [63]:
name_age = ["aqsa_16" , "saif_30" , "moiz_34"]
split_func = lambda x : (x.split("_")[0] , x.split("_")[1])
split_func(name_age)

AttributeError: 'list' object has no attribute 'split'