# List

In [ ]:
# 10 Students Name

In [3]:
name = input("Enter Your Name : ")

Enter Your Name : Ashraf

In [4]:
name

'Ashraf'

In [6]:
# list is the uer define Data Type

names_list = ["Muhammad","Muneeb","Ashraf"]

In [7]:
names_list

['Muhammad', 'Muneeb', 'Ashraf']

In [10]:
# name apko input lena hai or usko save karty jana hai list mai
names_list = [] #Empty List
name = input("Enter Your Name : ")

# Add
names_list.append(name)
print(names_list)

Enter Your Name : Ashraf
['Ashraf']

In [9]:
names_list

['muneeb']

In [27]:
names_list = []

for i in range(1,11):
    name = input(f"Enter Student {i} Name : ")
    
    names_list.append(name)

Enter Student 1 Name : Muhammad
Enter Student 2 Name : Muneeb
Enter Student 3 Name : Ashraf
Enter Student 4 Name : Alhas
Enter Student 5 Name : Riaz
Enter Student 6 Name : Waqas
Enter Student 7 Name : Haris
Enter Student 8 Name : Mohsin
Enter Student 9 Name : Ahmed
Enter Student 10 Name : Asad

In [20]:
print(names_list)

['Muhammad', 'Muneeb', 'Aashraf', 'Alhas', 'Moeed', 'Adeel', 'Haris', 'Mohsin', 'Riaz', 'Waqas']

In [25]:
# names_list = []

for i in range(1,11):
    name = input(f"Enter Student {i} Name : ")
    
    names_list[i] = name

Enter Student 1 Name : dsds
Enter Student 2 Name : cd
Enter Student 3 Name : dc
Enter Student 4 Name :
Enter Student 5 Name : cddc
Enter Student 6 Name : cd
Enter Student 7 Name : dc
Enter Student 8 Name : dc
Enter Student 9 Name : dc
Enter Student 10 Name : cd

IndexError: list assignment index out of range

In [26]:
print(names_list)

['Muhammad', 'dsds', 'cd', 'dc', '', 'cddc', 'cd', 'dc', 'dc', 'dc']

In [21]:
names_list[9] = "Aqsa"

In [24]:
names_list

['Muhammad',
 'Muneeb',
 'munn',
 'muhhj',
 'hfg',
 'dsnjhdf',
 'sdnjdf',
 'dfbjdfdf',
 'nhjhf',
 'jnhjf']

In [28]:
second_names_list =["Muneeb2","Ashraf2","Alhas2"]

In [ ]:
names_list.extend(second_names_list)