# Tuple

In [7]:
names_tuple = (1,2,4,5)

In [8]:
names_tuple[0]

1

In [9]:
data = ("Muneeb" , True , 12)

In [11]:
name = data[0]
age = data[2]
is_pakistani = data[1]

# Packing

In [12]:
name2 , is_pakistani2 , age2 = data#Unpacking

In [14]:
name2

'Muneeb'

In [15]:
type(name2)

str

In [16]:
a,b = "Muneeb" , "Ashraf"

In [17]:
a

'Muneeb'

In [18]:
name_list = list(names_tuple)

In [19]:
name_list

[1, 2, 4, 5]

In [20]:
type(name_list)

list

In [21]:
t1 = (1,2,3)
t2 = (4,5,6)
t1 + t2

(1, 2, 3, 4, 5, 6)

In [22]:
(1,2,3) * 5

(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [23]:
2 in t1

True

In [24]:
len(t1)

3

In [25]:
# Find Max Value
t4 = (43,56,76,89)

In [27]:
max(t4)

89

In [28]:
min(t4)

43

In [34]:
num = 0
for i in range(1,len(t4)):
    if t4[i] > t4[i+1]:
        num=t4[i]
        
print(num)

IndexError: tuple index out of range

# Set

In [48]:
l1 = [1,2,3,1,4,3,2]

In [49]:
s1 = set(l1)

In [50]:
print(s1)

{1, 2, 3, 4}

In [51]:
s1.add(4)

In [52]:
s1.add(5)

In [53]:
print(s1)

{1, 2, 3, 4, 5}

In [54]:
s1.remove(3)

In [55]:
s1

{1, 2, 4, 5}

In [46]:
s1.clear()

In [47]:
s1

set()

In [56]:
s2 = {4,5,6}

In [57]:
s1 | s2 # Union

{1, 2, 4, 5, 6}

In [58]:
s1 & s2 # Intersection

{4, 5}

# Dictionary

In [ ]:
{
    "name" : ["Muneeb" , 12 , "Karachi"]
}

In [63]:
{
    "name" : {
        "first_name":"M Muneeb",
        "last_name": "Ashraf",
    }
}

{'name': {'first_name': 'M Muneeb', 'last_name': 'Ashraf'}}

In [62]:
[{
    "name" :"M Muneeb",
    "age": 27,
    "location" : "Karachi"
}]

[{'name': 'M Muneeb', 'age': 27, 'location': 'Karachi'}]

In [64]:
[
    {
    "name" :"Muneeb",
    "age": 27,
    "location" : "Karachi"
    },
    
    {
    "name" :"Ashraf",
    "age": 50,
    "location" : "Karachi"
    }
    
]

[{'name': 'Muneeb', 'age': 27, 'location': 'Karachi'},
 {'name': 'Ashraf', 'age': 50, 'location': 'Karachi'}]

In [65]:
{
    "name": [],
    "age": []
}

{'name': [], 'age': []}

In [75]:
d1= {
    "name" :"Muneeb",
    "age": 27,
    "location" : "Karachi",
    "name": "Ashraf"
    }

In [68]:
d1

{'name': 'Ashraf', 'age': 27, 'location': 'Karachi'}

In [69]:
d1["name"]

'Ashraf'

In [71]:
{
    "name" :"Muneeb",
    1: 27,
    "location" : "Karachi",
    "name": "Ashraf"
    }

{'name': 'Ashraf', 1: 27, 'location': 'Karachi'}

In [93]:
d1 ={
    "name" :"Muneeb",
    1: 27,
    True : "Karachi",
    "name": "Ashraf"
    }

In [92]:
{
    "name" :"Muneeb",
    1: 27,
    True : "Karachi",
    "name": "Ashraf"
    }

{'name': 'Ashraf', 1: 'Karachi'}

In [76]:
#We Use get() when we use Envoirment Variable nad it cann't show error or stop Program
d1.get("name")

'Ashraf'

In [77]:
dict (name = "Muneeb" , age = 27)

{'name': 'Muneeb', 'age': 27}

In [78]:
d1 ["location"] = "sindh"

In [79]:
d1

{'name': 'Ashraf', 'age': 27, 'location': 'sindh'}

In [80]:
d1["gender"] = "Male"

In [81]:
d1

{'name': 'Ashraf', 'age': 27, 'location': 'sindh', 'gender': 'Male'}

In [82]:
gender = d1.pop("gender") # it Remove Gender from d1

In [83]:
gender

'Male'

In [84]:
d1

{'name': 'Ashraf', 'age': 27, 'location': 'sindh'}

In [94]:
del d1[True]

In [95]:
d1

{'name': 'Ashraf'}

In [88]:
for key in d1:
    print(key)

name
age
location

In [90]:
for value in d1.values():
    print(value)

Ashraf
27
sindh

In [91]:
d1.items()

dict_items([('name', 'Ashraf'), ('age', 27), ('location', 'sindh')])

In [96]:
d1.values()

dict_values(['Ashraf'])

In [97]:
d1.keys()

dict_keys(['name'])

In [98]:
for key, value in d1.items():
    print(key)
    print("test",value)

name
test Ashraf

# Task
text = "apple banana apple cherry banana apple"

In [ ]:
# Output: {'apple':3 , 'banana':2 , 'cherry':1}

In [99]:
text = "apple banana apple cherry banana apple"

In [105]:
text = "apple banana apple cherry banana apple"

banana = text.count('banana')
apple = text.count("apple")
cherry = text.count('cherry')

fruites = {}

fruites["banana"] = banana
fruites["apple"] = apple
fruites["cherry"] = cherry

fruites

{'banana': 2, 'apple': 3, 'cherry': 1}