# List

In [2]:
# 10 Students Name

In [3]:
name = input("Enter Your Name : ")

Enter Your Name :

In [4]:
name

''

In [5]:
# list is the uer define Data Type
# One Dimentional List Called Array and array contain single Data Type
# List Called Hetrogenious Means List can Contains Multiple Data Types

names_list = ["Muhammad","Muneeb","Ashraf"]

In [6]:
name_list = ["Muneeb" , True , 27 , 3.142]

In [7]:
names_list

['Muhammad', 'Muneeb', 'Ashraf']

In [8]:
# name apko input lena hai or usko save karty jana hai list mai

In [9]:
names_list = [] #Empty List
name = input("Enter Your Name : ")

# First Way To Add Name In List

# Add
names_list.append(name) # Append Add Data At The End Of The List

print(names_list)

Enter Your Name :
['']

In [10]:
names_list

['']

In [11]:
names_list = []

for i in range(1,11):
    name = input(f"Enter Student {i} Name : ")
    
    names_list.append(name)

Enter Student 1 Name : Muhammad
Enter Student 2 Name : Muneeb
Enter Student 3 Name : Ashraf
Enter Student 4 Name : Alhas
Enter Student 5 Name : Ahmed
Enter Student 6 Name : Mohsin
Enter Student 7 Name : Kashif
Enter Student 8 Name : Waqas
Enter Student 9 Name : Asad
Enter Student 10 Name : Haris

In [12]:
print(names_list)

['Muhammad', 'Muneeb', 'Ashraf', 'Alhas', 'Ahmed', 'Mohsin', 'Kashif', 'Waqas', 'Asad', 'Haris']

In [13]:
names_list_with_index = []

for i in range(1,11):
    name = input(f"Enter Student {i} Name : ")
    
    names_list_with_index[i] = name
    

print(names_list_with_index)

Enter Student 1 Name : Ashraf

IndexError: list assignment index out of range

In [14]:
names_list[9] = "Aqsa"

In [15]:
names_list

['Muhammad',
 'Muneeb',
 'Ashraf',
 'Alhas',
 'Ahmed',
 'Mohsin',
 'Kashif',
 'Waqas',
 'Asad',
 'Aqsa']

In [16]:
second_names_list =["Muneeb2","Ashraf2","Alhas2" , "Asad2"]

In [17]:
second_names_list

['Muneeb2', 'Ashraf2', 'Alhas2', 'Asad2']

In [18]:
extraList = names_list

In [19]:
print(extraList)

['Muhammad', 'Muneeb', 'Ashraf', 'Alhas', 'Ahmed', 'Mohsin', 'Kashif', 'Waqas', 'Asad', 'Aqsa']

In [20]:
# Append Always Consider the Whole Value As a Single Value (single Values Added) 
extraList.append(second_names_list)

In [21]:
print (extraList)

['Muhammad', 'Muneeb', 'Ashraf', 'Alhas', 'Ahmed', 'Mohsin', 'Kashif', 'Waqas', 'Asad', 'Aqsa', ['Muneeb2', 'Ashraf2', 'Alhas2', 'Asad2']]

In [22]:
print(names_list)

['Muhammad', 'Muneeb', 'Ashraf', 'Alhas', 'Ahmed', 'Mohsin', 'Kashif', 'Waqas', 'Asad', 'Aqsa', ['Muneeb2', 'Ashraf2', 'Alhas2', 'Asad2']]

In [23]:
# Extend Consider the Whole Value As an Multiple Values and Add At The End Like Append (Multiple Values Added)
names_list.extend(second_names_list)

In [24]:
print(names_list)

['Muhammad', 'Muneeb', 'Ashraf', 'Alhas', 'Ahmed', 'Mohsin', 'Kashif', 'Waqas', 'Asad', 'Aqsa', ['Muneeb2', 'Ashraf2', 'Alhas2', 'Asad2'], 'Muneeb2', 'Ashraf2', 'Alhas2', 'Asad2']

In [25]:
int("10")

10

In [75]:
name = "Hello"

In [78]:
name = list(name)

In [79]:
name

['H', 'e', 'l', 'l', 'o']

In [28]:
# Strings Are Immutable

name = "hello"
name[3] = "r"

TypeError: 'str' object does not support item assignment

strings , Tuple are Immutable

can we Update Those?

In [29]:
s = "hello"
s = "Hello"  # Reassignment creates a new string object

In [30]:
t = (1, [2, 3], 4)
t[1][0] = 99  # Allowed because the list inside the tuple is mutable
print(t)  # (1, [99, 3], 4)

(1, [99, 3], 4)

In [31]:
names_list[9]

'Aqsa'

In [32]:
names_list[:]

['Muhammad',
 'Muneeb',
 'Ashraf',
 'Alhas',
 'Ahmed',
 'Mohsin',
 'Kashif',
 'Waqas',
 'Asad',
 'Aqsa',
 ['Muneeb2', 'Ashraf2', 'Alhas2', 'Asad2'],
 'Muneeb2',
 'Ashraf2',
 'Alhas2',
 'Asad2']

In [33]:
names_list[10][2]

'Alhas2'

In [34]:
names_list[10][4]

IndexError: list index out of range

In [35]:
names_list[2] = "Ibtehaj" # Correct / Replace The Value

In [36]:
names_list

['Muhammad',
 'Muneeb',
 'Ibtehaj',
 'Alhas',
 'Ahmed',
 'Mohsin',
 'Kashif',
 'Waqas',
 'Asad',
 'Aqsa',
 ['Muneeb2', 'Ashraf2', 'Alhas2', 'Asad2'],
 'Muneeb2',
 'Ashraf2',
 'Alhas2',
 'Asad2']

In [37]:
names_list.insert(5,"Adeel") # Insert The Value in Any Place

In [38]:
names_list

['Muhammad',
 'Muneeb',
 'Ibtehaj',
 'Alhas',
 'Ahmed',
 'Adeel',
 'Mohsin',
 'Kashif',
 'Waqas',
 'Asad',
 'Aqsa',
 ['Muneeb2', 'Ashraf2', 'Alhas2', 'Asad2'],
 'Muneeb2',
 'Ashraf2',
 'Alhas2',
 'Asad2']

In [39]:
names_list.insert(14,"abc")

In [41]:
names_list.insert(20,"XYZ")

In [42]:
names_list

['Muhammad',
 'Muneeb',
 'Ibtehaj',
 'Alhas',
 'Ahmed',
 'Adeel',
 'Mohsin',
 'Kashif',
 'Waqas',
 'Asad',
 'Aqsa',
 ['Muneeb2', 'Ashraf2', 'Alhas2', 'Asad2'],
 'Muneeb2',
 'Ashraf2',
 'abc',
 'Alhas2',
 'Asad2',
 'XYZ']

In [43]:
names_list.insert(50,"ABCDEFG")

In [44]:
names_list

['Muhammad',
 'Muneeb',
 'Ibtehaj',
 'Alhas',
 'Ahmed',
 'Adeel',
 'Mohsin',
 'Kashif',
 'Waqas',
 'Asad',
 'Aqsa',
 ['Muneeb2', 'Ashraf2', 'Alhas2', 'Asad2'],
 'Muneeb2',
 'Ashraf2',
 'abc',
 'Alhas2',
 'Asad2',
 'XYZ',
 'ABCDEFG']

In [45]:
names_list.insert("MUNEEB ASHRAF")

TypeError: insert expected 2 arguments, got 1

In [46]:
names_list.remove("Aqsa") # Remove Function Works as Delete By Value

In [47]:
names_list

['Muhammad',
 'Muneeb',
 'Ibtehaj',
 'Alhas',
 'Ahmed',
 'Adeel',
 'Mohsin',
 'Kashif',
 'Waqas',
 'Asad',
 ['Muneeb2', 'Ashraf2', 'Alhas2', 'Asad2'],
 'Muneeb2',
 'Ashraf2',
 'abc',
 'Alhas2',
 'Asad2',
 'XYZ',
 'ABCDEFG']

In [48]:
names_list.pop(10) # Pop Function Delete karay ga and deleted value will be save.

['Muneeb2', 'Ashraf2', 'Alhas2', 'Asad2']

In [49]:
sname = names_list.pop(12)

In [50]:
sname

'abc'

In [51]:
names_list

['Muhammad',
 'Muneeb',
 'Ibtehaj',
 'Alhas',
 'Ahmed',
 'Adeel',
 'Mohsin',
 'Kashif',
 'Waqas',
 'Asad',
 'Muneeb2',
 'Ashraf2',
 'Alhas2',
 'Asad2',
 'XYZ',
 'ABCDEFG']

In [52]:
tname = names_list.pop() # Delete Last Item

In [53]:
tname

'ABCDEFG'

In [54]:
names_list

['Muhammad',
 'Muneeb',
 'Ibtehaj',
 'Alhas',
 'Ahmed',
 'Adeel',
 'Mohsin',
 'Kashif',
 'Waqas',
 'Asad',
 'Muneeb2',
 'Ashraf2',
 'Alhas2',
 'Asad2',
 'XYZ']

In [55]:
del names_list[-1] # del Key just Remove the Item By Index not Value

In [56]:
names_list

['Muhammad',
 'Muneeb',
 'Ibtehaj',
 'Alhas',
 'Ahmed',
 'Adeel',
 'Mohsin',
 'Kashif',
 'Waqas',
 'Asad',
 'Muneeb2',
 'Ashraf2',
 'Alhas2',
 'Asad2']

In [57]:
name_3 =["Muneeb3","Ashraf3","Alhas3" , "Asad3"]

In [58]:
name_3.clear() # clear() Function will Empty The Whole Items

In [59]:
name_3

[]

append = add at the end </br>
extend = add multiple values at the end</br>
pop = delete and save

In [60]:
first = [1,2,4]
last = [4,5,6]

final_list = first + last

final_list

[1, 2, 4, 4, 5, 6]

In [61]:
tlist = [0] * 5
tlist

[0, 0, 0, 0, 0]

In [62]:
tlist = [1,2] * 5
tlist

[1, 2, 1, 2, 1, 2, 1, 2, 1, 2]

In [66]:
final_list = first * last

final_list

TypeError: can't multiply sequence by non-int of type 'list'

In [70]:
final_list = first - last

final_list

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [71]:
final_list = first + last

final_list

[1, 2, 4, 4, 5, 6]

In [67]:
tlist = [1,2] + 5
tlist

TypeError: can only concatenate list (not "int") to list

In [68]:
tlist = [1,2] / 5
tlist

TypeError: unsupported operand type(s) for /: 'list' and 'int'

In [69]:
tlist = [1,2] - 5
tlist

TypeError: unsupported operand type(s) for -: 'list' and 'int'

In [72]:
"Muneeb" in names_list

True

In [73]:
len(names_list)

14

sum() , max(), min(), sort() , count()

In [80]:
name

['H', 'e', 'l', 'l', 'o']

In [82]:
name.reverse()

In [83]:
name

['o', 'l', 'l', 'e', 'H']

# Task 

Find Min and Max Value from The List

In [86]:
a = [1,6,4,8,25,38,94,62,57,87,12,34]

print(f"Min Valye : {min(a)} \nMax Value : {max(a)}")

Min Valye : 1
Max Value : 94