**Class-01**

In [ ]:
print("Helllo World")

Helllo World

In [ ]:
print(10)

10

In [ ]:
print(True)

True

In [ ]:
print(False)

False

In [ ]:
print(0.0)

0.0

In [ ]:
print("Muneeb")

Muneeb

In [ ]:
Data Type

**Data Type**

In [ ]:
#"Muneeb" -> String
# 10 -> Integar
#True, False -> Boolean
#0.0 -> Float

In [ ]:
type("Muneeb")

str

In [ ]:
type (10)

int

In [ ]:
type(True)

bool

In [ ]:
type(0.0)

float

In [ ]:
#print()
#type()

# Print Function
# Data Type
# Comment

Variables

In [ ]:
name = "Muneeb"

In [ ]:
print(name)

Muneeb

In [ ]:
name

'Muneeb'

In [ ]:
10

10

In [ ]:
10

10

In [ ]:
10

10

In [ ]:
10

10

In [ ]:
num=20

In [ ]:
num

20

In [ ]:
num

20

In [ ]:
num

20

In [ ]:
num

20

In [ ]:
num

20

In [ ]:
name = "Muneeb Ashraf"

In [ ]:
subject = "Maths"

In [ ]:
subject_1 = "English"

In [ ]:
subject

'Maths'

In [ ]:
subject_1

'English'

In [ ]:
is_true = True

In [ ]:
is_true

True

In [ ]:
1_subjecct = "English"

SyntaxError: invalid decimal literal (<ipython-input-48-7f4b84379cc7>, line 1)

In [ ]:
&_subjecct = "English"

SyntaxError: invalid syntax (<ipython-input-49-153d1c8ee07c>, line 1)

In [ ]:
subjecct-1 = "English"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (<ipython-input-50-64f8eee4373b>, line 1)

In [ ]:
subjecct@1 = "English"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (<ipython-input-51-f4439cfc67c9>, line 1)

In [ ]:
subjecct$1 = "English"

SyntaxError: invalid syntax (<ipython-input-52-7fafb01f5a42>, line 1)

In [ ]:
subjecctOne = "English"

In [ ]:
type(subjecctOne)

str

In [ ]:
print(subjecctOne)

English

In [ ]:
subjecct%1 = "English"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (<ipython-input-58-f452ad473221>, line 1)

In [ ]:
num = 50

In [ ]:
num

50

In [ ]:
print(num)

50

In [ ]:
# .ipyn -> Interactive Python Nootbook

In [ ]:
# https://chat.whatsapp.com/DPXZYLqRrcr5cWZ3qxXNnm
# https://www.youtube.com/@gened-tech
# https://classroom.google.com/c/NzQ1MDI4NDk2Mzk0?cjc=mskqkwr

**Class-02**

In [ ]:
# Data Type
# Variables

In [ ]:
# Type Casting
num : int =10

In [ ]:
num

10

In [ ]:
num = "Muneeb"

In [ ]:
name : str = "M Muneeb Ashraf"

**Type Conversion**

In [ ]:
#Type Conversion
int("10")

10

In [ ]:
num = 10

In [ ]:
str(num)

'10'

In [ ]:
bool(0)

False

In [ ]:
bool(1)

True

In [ ]:
float(0)

0.0

In [ ]:
bool("Muneeb")

True

In [ ]:
int("Muneeb")

ValueError: invalid literal for int() with base 10: 'Muneeb'

In [ ]:
int(0.1)

0

**Variables**

In [ ]:
num = 10
name = "Muneeb"

In [ ]:
print("This is Second Class")

This is Second Class

**String Formating**

In [ ]:
# First Way of String Formating
print(f"This is Second Class. My Name is {name}. Total Students Strength : {num}")

This is Second Class. My Name is Muneeb. Total Students Strength : 10

In [ ]:
# Second Way of String Formating
print("This is Second Class. My Name is {} . Total Students Strength : {} ".format(name,num))

This is Second Class. My Name is Muneeb . Total Students Strength : 10

In [ ]:
print("This is Second Class. My Name is {1} . Total Students Strength : {0} ".format(num,name))

This is Second Class. My Name is Muneeb . Total Students Strength : 10

In [ ]:
print("This is Second Class. My Name is {0} . Total Students Strength : {1} ".format(num,name))

This is Second Class. My Name is 10 . Total Students Strength : Muneeb

In [ ]:
print("This is Second Class. My Name is {name} . Total Students Strength : {num} ".format(num = num , name = name))

This is Second Class. My Name is Muneeb . Total Students Strength : 10

In [ ]:
print("This is Second Class. My Name is {name} . Total Students Strength : {num} ".format(num = name , name = num))

This is Second Class. My Name is 10 . Total Students Strength : Muneeb

**User Define Value**

In [ ]:
name = input()
print(name)

ashraf
ashraf

In [ ]:
name = input("Enter Your Name : ")
name

Enter Your Name : muneeb ashraf

'muneeb ashraf'

In [ ]:
name = input("Enter Your Name : ")
num = input("Enter Number of Students : ")
print(f"Name: {name} and Students Strength is : {num}")

Enter Your Name : Muneeb Ashraf
Enter Number of Students : 15
Name: Muneeb Ashraf and Students Strength is : 15

In [ ]:
# Take three inputs from the user and print those three variables using indexing format.

In [ ]:
firstName = input("Enter Yoyr First Name : ")
lastName = input("Enter Yoyr Last Name : ")
age = input("Enter Your Age : ")
print(f"Your First Name is : {firstName} and Last Name is : {lastName} and Your Age is : {age}")

Enter Yoyr First Name : M Muneeb
Enter Yoyr Last Name : Ashrhaf
Enter Your Age : 25
Your First Name is : M Muneeb  and Last Name is : Ashrhaf and Your Age is : 25

In [ ]:
firstName = input("Enter Yoyr First Name : ")
lastName = input("Enter Yoyr Last Name : ")
age = input("Enter Your Age : ")
print("Your First Name is : {} and Last Name is : {} and Your Age is : {}".format(firstName,lastName,age))

Enter Yoyr First Name : agshdgs
Enter Yoyr Last Name : jgf
Enter Your Age : 16
Your First Name is : agshdgs and Last Name is : jgf and Your Age is : 16

In [ ]:
type(age)

str

In [ ]:
name = 'Muneeb'
print("My name is " + name)
print("My Name is " , name)

My name is Muneeb
My Name is  Muneeb

In [ ]:
age = 25
print("My age is " + age)

TypeError: can only concatenate str (not "int") to str

In [ ]:
age = 25
print("My age is " , age)

My age is  25

In [ ]:
age = int(input("Enter Your Age : "))
print("Your age is : " + age)

Enter Your Age : 25

TypeError: can only concatenate str (not "int") to str

In [ ]:
age = int(input("Enter Your Age : "))
print("Your age is : " , age)

Enter Your Age : 25
Your age is :  25

In [ ]:
1 + 1

2

In [ ]:
"this " + "is"

'this is'

In [ ]:
"this " + 1

TypeError: can only concatenate str (not "int") to str

Class-03

In [ ]:
f"""
Dear {name}

Welcome to the Third Session

"""

NameError: name 'name' is not defined

In [ ]:
1 + "abc"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
2 * "str"

'strstr'

In [ ]:
2 / "str"

TypeError: unsupported operand type(s) for /: 'int' and 'str'

In [ ]:
2-"str"

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [ ]:
# BODMAS
#
#
# Division
# Multiplication
# Addition
# Subtraction


# PEMDAS
# Paranthesis
# Esponential
# Multiplication
# Division
# Addition
# Subtraction

In [ ]:
1/1

1.0

In [ ]:
1//1

1

In [ ]:
1 % 4

1

In [ ]:
1/0

ZeroDivisionError: division by zero

In [ ]:
0 / 1

0.0

In [ ]:
print("Hi)

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-12-042ceef1c0f0>, line 1)

**Errors**

In [ ]:
4 % 3 / 5

0.2

User Define Formula

In [ ]:
pi = 3.142 # Constant Variable

In [ ]:
r=float(input("Enter Radius Value : "))
area = pi * r**2
print(f"Your Area of Circle is {area}")

Enter Radius Value : 2
Your Area of Circle is 12.568

In [ ]:
r=input("Enter Radius Value : ")
area = pi * r**2
print(f"Your Area is {area}")

Enter Radius Value : 2

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [ ]:
r=float(input("Enter Radius Value : "))

print(f"Your Area is {pi * r**2}")

Enter Radius Value : 2
Your Area is 12.568

In [ ]:
r=float(input("Enter Radius Value : "))

print("Your Area is {}".format(pi * r**2))

Enter Radius Value : 2
Your Area is 12.568

In [ ]:
# two inputs from user or unk uper + - * /
a= float(input("Enter First Number : "))
b= float(input("Enter Second Number : "))

print(f"Addition of Two Numbers is : {a+b}")
print(f"subtraction of Two Numbers is : {b-a}")
print(f"Multiplication of Two Numbers is : {a*b}")
print(f"Division of Two Numbers is : {a/b}")

Enter First Number : 2
Enter Second Number : 5
Addition of Two Numbers is : 7.0
subtraction of Two Numbers is : 3.0
Multiplication of Two Numbers is : 10.0
Division of Two Numbers is : 0.4