In [8]:
for i in range(1,51):
    if i%2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [17]:
tableNumber = int(input("Enter Table Number : "))
tablerange = int(input("Enter Table Range : "))

for i in range(1,tablerange+1):
    print(f"{tableNumber} X {i} = {tableNumber*i}")

Enter Table Number : 5
Enter Table Number : 12
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50
5 X 11 = 55
5 X 12 = 60

In [18]:
tableNumber = int(input("Enter Table Number : "))

for i in range(1,tableNumber+1):
    print(f"{tableNumber} X {i} = {tableNumber*i}")

Enter Table Number : 5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25

In [19]:
tableNumber = int(input("Enter Table Number : "))
tablerange = int(input("Enter Table Range : "))
for i in range(1,tableNumber+1):
    for index in range (1,tablerange):
        print(f"{tableNumber} X {i} = {tableNumber*i}")

Enter Table Number : 5
Enter Table Range : 4
5 X 1 = 5
5 X 1 = 5
5 X 1 = 5
5 X 2 = 10
5 X 2 = 10
5 X 2 = 10
5 X 3 = 15
5 X 3 = 15
5 X 3 = 15
5 X 4 = 20
5 X 4 = 20
5 X 4 = 20
5 X 5 = 25
5 X 5 = 25
5 X 5 = 25

In [23]:
tableNumber = int(input("Enter Table Number : "))
tablerange = int(input("Enter Table Range : "))
for i in range(1,tableNumber+1):
    for index in range (1,tablerange+1):
        print(f"{i} X {index} = {i*index}")

Enter Table Number : 5
Enter Table Range : 4
1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20

In [24]:
Num=int(input("Enter the table of any number"))
range_=int(input("Enter the limit"))
i=0
while i<=range_:
  print(f"{Num} x {i} = {Num*i}")
  i+=1

Enter the table of any number5
Enter the limit4
5 x 0 = 0
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20